extends layout

block vars 
  -var title = "Sides";

block content
  div(id="container")
    each item in sides.expresssides
      a(href="#" class="foodlinks")
        div(class='foodbox')
          img(src=item[1] class='foodpics')
          h3 #{item[0]}
          div(class="hoverbox")
            div(class="hovertxt")
              h3 #{item[0]}        
              h4 #{item[2]}
              h4 #{item[3]}